/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
.fix { overflow: hidden }
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Yeseva One', cursive;
    
}
html,
body { height: 100%;font-family: 'Gentium Basic', serif; }
body {

}
a {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #333;
}
a:hover { text-decoration: none }
/***************my style*******************/
.header-aria{
    width: 100%; z-index: 999;
    position: relative;
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    
}
.is-sticky .header-aria::after{
    position: absolute;
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    height: 50px
}
.top-aria{ position: relative}
.top-aria-bg{ background-image:url(images/header-bg.jpg);
    position: absolute;
    background-size: cover;
width: 100%;
height: 100%;
background-co}

.main-menu ul.nav.navbar-nav {
    float: none;
    font-size: 15px;
    text-align: right;
}
.main-menu ul.nav.navbar-nav li {
    display: inline-block;
    float: none;
    position: relative;
}
.main-menu ul.nav.navbar-nav li a {
    color: white;
    padding-top: 40px;
}
.main-menu ul.nav.navbar-nav li:hover a{
    background: transparent;
    color: greenyellow*/
}
.main-menu ul.nav.navbar-nav li a{
    background: transparent;
    color: greenyellow*/
}
.main-menu ul.nav.navbar-nav li:hover::before {
    background: rgb(221, 221, 221) none repeat scroll 0 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.header-text{
    /*background-image: url(images/btn-bg.png)*/
}
.header-text p, .footer-social p {
    color: #fff;
    font-size: 22px;
    border-bottom: 1px dotted #ddd;
    width: 30%;
    text-align: center;
    clear: both;
    display: inline-block;
    padding: 15px;
    margin-left: 22px;
    /* font-weight: 700; */
    font-family: georgia;
    background: rgba(0,0,0,.4);
    border-radius: 15px;
    /* z-index: 2px; */
    margin-top: 50px;
    border: 2px solid aliceblue#fff;
}.header-text ul li,.footer-social ul li {
    display: inline;
    padding: 5px;
    color: silver;
}
.header-text ul li a,.footer-social ul li a {
    color: #5bc36d;
    font-size: 18px;
    border-right: 1px solid #1c35e2;
    padding: 5px;
}
.header-text ul li a i:hover,.footer-social ul li a i:hover {
    color: orange;
    transition: 0.3s
    
}
.footer-social {
    text-align: center;
    /*padding: 50px;*/
}
.header-text h1 {
    background-repeat: no-repeat;
    color: white;
    font-size: 50px;
    font-weight: bold;
    line-height: 62px;
}
.header-text {
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 65px;
}
.header-text h2 {
    color: #fff;
    font-family: georgia;
    padding: 20px;
    margin-top: 150px;
    /* text-transform: uppercase; */
}
.header-text span {
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 36px;
    /* padding: 5; */
    color: #efefef;
    background-color: steelblue;
}

.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
/*a:focus {
    outline: 0 solid;
}*/
img {
    height: auto;
    max-width: 100%;
}
.fix {
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Yeseva One",cursive;
    font-weight: 700;
    margin: 0 0 15px;
}
html, body {
    font-family: "Gentium Basic",serif;
    height: 100%;
}
body {
}
/*a {
    color: #333;
    transition: all 0.3s ease 0s;
}*/
a:hover {
    text-decoration: none;
}
.top-aria {
    position: relative;
}
.top-aria-bg {
    /*background-image: url("images/header-bg.jpg");*/
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
}
.main-menu{ position: relative;
padding-right: 94px}
.main-menu ul.nav.navbar-nav {
    float: none;
    font-size: 17px;
    text-align: right;
}
.main-menu ul.nav.navbar-nav li {
    display: inline-block;
    float: none;
    position: relative;
}
.main-menu ul.nav.navbar-nav li a {
    color: white;
    padding-top: 40px;
}
.main-menu ul.nav.navbar-nav li a:focus{background: none}
.main-menu ul.nav.navbar-nav li:hover a {
    /*background: transparent none repeat scroll 0 0;
    color: greenyellow;*/
}
.main-menu ul.nav.navbar-nav li.active::before {
    background: rgb(221, 221, 221) none repeat scroll 0 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.is-sticky .main-menu ul.nav.navbar-nav li.active a{
    color: yellow
}
.header-text {
    /*background-image: url("images/btn-bg.png");*/
}
.header-text h1 {
    background-repeat: no-repeat;
    color: white;
    font-size: 50px;
    font-weight: bold;
    line-height: 62px;
}
.header-text {
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 65px;
    background-repeat: no-repeat;
    padding: 100px 0;
}
.header-text .btn-filed {
    color: white;
    display: inline-block;
    margin: 0 5px;
    padding: 15px 20px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}
.header-text .btn-filed::after {
    background: #102122 none repeat scroll 0 0;
    color: white;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.5;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}


.social-profiles {
  color: white;
    font-size: 18px;
    position: absolute;
    right: 18px;
    top: 39px;
}
.social-profiles a {
    color: white;
    display: inline-block;
    margin-left: 6px;
}
.social-profiles a {
}
/*.section-padding{ padding: 100px 0;}*/
.section-title{ background-image: url("images/about-top-bg.png");
background-position: center bottom;
background-repeat: no-repeat;
padding-bottom: 50px; text-align: center}
.about-text-aria{
     /*background-image: url(images/eight_horns.png);*/
    background-position: center center;
    width: 100%;
}
.about-text h2{
    margin-top: 37px;
    color: #cc9900;
    font-family: 'Gentium Basic', serif; 
    font-weight: bold
}
.about-text.text-center img {
    border-radius: 50%;
    border: 3px outset #666;
}
.about-text p {
    /* margin: 10px 0; */
    font-size: 18px;
    /* text-align: center; */
    /* font-family: garamond; */
    /* font-weight: 400; */
    color: #2b397b;
    /* text-align: justify; */
    line-height: 30px;
}
.Igredients-text {
  color: white;
  font-size: 16px;
  padding: 20px;
  position: relative;
  z-index: 1;
}.Igredients-text::after {
  background: green none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.4;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  border-radius: 50px;
}
.Igredients-aria{ position: relative}
.parallax-bg { position: absolute; width: 100%;
height: 100%;
background-size: cover;
content: ""; left: 0; top: 0}
.Igredients-bg{ 
    /*background-image: url(images/cover-bg.jpg);*/
  min-height: 1000px
}


.Igredients-text p {
    color: #fff;
}
.section-title.ingre-title{}
.reviews-aria{ position: relative;}
/*.reviews-bg{background-image: url(images/cover-bg.jpg)}*/
/*******food menu*********/
.food-menu-aria{
    background: url(images/eight_horns.png)
}


.single-food-menu-item h2 {
    border-bottom: 1px solid #cc9900;
    color: #cc9900;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
}
.single-food-menu-item span {
    float: right;
    font-weight: normal;
}
.single-food-menu-item {
    margin-bottom: 15px;
}
/*******this reviews page*********/

.review-list {
    color: #fff;
    padding: 25px;
    position: relative;
    z-index: 1;
}
.review-list::after{
   background: green none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.4;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  border-radius: 50px;
}
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus {
    outline: 0 solid;
}
img {
    height: auto;
    max-width: 100%;
}
.fix {
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Yeseva One",cursive;
    font-weight: 700;
    margin: 0 0 15px;
}
html, body {
    font-family: "Gentium Basic",serif;
    height: 100%;
}
body {
}
a {
    color: #333;
    transition: all 0.3s ease 0s;
}
a:hover {
    text-decoration: none;
}
.top-aria {
    position: relative;
}
.top-aria-bg {
    background-image: url("images/header-bg.jpg");
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
}
.main-menu ul.nav.navbar-nav {
    float: none;
    font-size: 17px;
    text-align: right;
}
.main-menu ul.nav.navbar-nav li {
    display: inline-block;
    float: none;
    position: relative;
}
.main-menu ul.nav.navbar-nav li a {
    color: white;
    padding-top: 40px;
}
.main-menu ul.nav.navbar-nav li:hover a {
    background: transparent none repeat scroll 0 0;
    color: greenyellow;
}
.main-menu ul.nav.navbar-nav li:hover::before {
    background: rgb(221, 221, 221) none repeat scroll 0 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.header-text {
    
}
.header-text h1 {
    background-repeat: no-repeat;
    color: white;
    font-size: 50px;
    font-weight: bold;
    line-height: 62px;
}
.header-text {
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 65px;
}
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus {
    outline: 0 solid;
}
img {
    height: auto;
    max-width: 100%;
}
.fix {
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Yeseva One",cursive;
    font-weight: 700;
    margin: 0 0 15px;
}
html, body {
    font-family: "Gentium Basic",serif;
    height: 100%;
}

.top-aria {
    position: relative;
}
.top-aria-bg {
    background-image: url("images/bg1.jpg");
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
    
}
.main-menu {
    padding-right: 10px;
    position: relative;
}
.main-menu ul.nav.navbar-nav {
    float: none;
    font-size: 15px;
    text-align: right;
}
.logo img {
    float: left;
    width: 50px;
    height: 50px;
}
.main-menu ul.nav.navbar-nav li {
    display: inline-block;
    float: none;
    position: relative;
}
.main-menu ul.nav.navbar-nav li a {
    color: white;
    padding-top: 12px;
}
.main-menu ul.nav.navbar-nav li:hover a {
    background: transparent none repeat scroll 0 0; */
    color: greenyellow; */
}
.main-menu ul.nav.navbar-nav li:hover::before {
    background: rgb(221, 221, 221) none repeat scroll 0 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.header-text {
    /*background-image: url("images/btn-bg.png");*/
}
.header-text h1 {
    background-repeat: no-repeat;
    color: white;
    font-size: 50px;
    font-weight: bold;
    line-height: 62px;
}
.header-text {
    background-position: center bottom;
    background-repeat: no-repeat;
    padding: 100px 0;
    min-height: 700px;
}
.header-text .btn-filed {
    color: white;
    display: inline-block;
    margin: 0 5px;
    padding: 15px 20px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}
.header-text .btn-filed::after {
    background: #102122 none repeat scroll 0 0;
    color: white;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.5;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.social-profiles {
    color: white;
    font-size: 18px;
    position: absolute;
    right: 18px;
    top: 39px;
}
.social-profiles a {
    color: white;
    display: inline-block;
    margin-left: 6px;
}
.social-profiles a {
}
.section-padding {
    /*padding: 100px 0;*/
}
.section-title {
    background-image: url("images/about-top-bg.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    text-align: center;
    color: blanchedalmond;
}
.about-text-aria {
    /* background-image: url("images/eight_horns.png"); */
    background-position: center center;
    width: 100%;
    background-color: aliceblue;
    position: 10px 0;
}
.about-text h2 {
    color: #cc9900;
    font-family: "Gentium Basic",serif;
    font-weight: bold;
    margin-top: 37px;
}
.about-text.text-center img {
    border-radius: 50%;
    border: 3px outset #666;
}
.Igredients-text {
    color: white;
    font-size: 16px;
    padding: 20px;
    position: relative;
    z-index: 1;
}
.Igredients-text::after {
    background: green none repeat scroll 0 0;
    border-radius: 50px;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.4;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.Igredients-aria {
    position: relative;
}
.parallax-bg {
    background-size: cover;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.Igredients-bg {
    /*background-image: url("images/coverpage2.jpg");*/
}
.Igredients-text p {
    color: #fff;
}
.section-title.ingre-title {
    background-image: url("images/ingre-top-bg.png");
    background-repeat: no-repeat;
    border-bottom: 2px dotted #666;
    padding: 10px;
    color: #59bd76;
}
.reviews-aria {
    position: relative;
}
.reviews-bg {
    background-image: url("images/ingre-bg.jpg");
}
.food-menu-aria {
    background: rgba(0, 0, 0, 0) url("images/eight_horns.png") repeat scroll 0 0;
}
.single-food-menu-item h2 {
    border-bottom: 1px solid #cc9900;
    color: #cc9900;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
}
.single-food-menu-item span {
    float: right;
    font-weight: normal;
}
.single-food-menu-item {
    margin-bottom: 15px;
}
.review-list {
    color: #fff;
    padding: 25px;
    position: relative;
    z-index: 1;
}
.review-list::after {
    background: green none repeat scroll 0 0;
    border-radius: 50px;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.4;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
#rivews-carousel::before {
    color: white;
    content: "";
    font-family: FontAwesome;
    font-size: 25px;
    left: -12px;
/*    padding: 15px;*/
    position: absolute;
    top: -41px;
}

.review-list p {
    font-size: 16px;
    margin: 20px 0;
    text-align: center;
}
.review-list h2 {
    font-size: 25px;
}
.contact-form input {
    border: 1px solid #cc9900;
    /*height: 100%;*/
    text-align: left;
    width: 100%;
}
.contact-form label {
    color: #cc9900;
    float: left;
    font-size: 16px;
    text-align: left;
}

.contact-form button {
    background: #cc9900 none repeat scroll 0 0;
    border: medium none;
    color: white;
    display: block;
    margin: 20px 0;
    padding: 10px 25px;
}



.section-title.contact-title {
    color: #c9a131;
    font-size: 28px;
    font-weight: normal;
}
.section-title.contact-title {
}
.contact-aria h3 {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid thistle;
    display: block;
    padding-top: 30px;
    color: #fff;
    padding-bottom: 10px
    
}
.contact-aria{
    background-color: rgba(0,0,0,0.7);
    padding: 20px 0
}
.contact-list {
    list-style: none;
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
}
.contact-list li {
    color: white;
    font-size: 18px;
    display: block;
    border-bottom: 2px dotted yellowgreen;
    padding: 10px;
    width: 70%;
}
.contact-list li:last-child{
    border-bottom: none;
}
.contact-list li a{
      color: white;
    
}



.footer-aria {
    /*background: rgba(0,0,0,0.5);*/
     background-color:#fff;
    color: white;
    /*padding: 20px 0;*/
  
}
.footer-copyright {

   /* padding: 1px 0;*/
    background-color: rgba(0,0,0,.3);
    /*max-height: 65px;*/
    padding-bottom: 1px;
    /* margin-bottom: 0px; */
}
.footer-copyright p {
    font-size: 18px;
    /*padding: 10px 0;*/
    font-family: georgia;
    
    color: #fff;
    height: 25px
}
.section-title.footer-title {
    background: url(images/ingre-top-bg.png);
    background-repeat: no-repeat;
    background-position: center bottom
}
.section-title.footer-title {
    color: white;
    font-size: 22px;
    font-weight: normal;
}
.footer-widget p {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

.social-profiles-footer i {
    color: white;
    font-size: 20px;
    margin: 0 2px;
    margin-left: 5px;
}
/*****top*******/
.top{ background-color:white; 
    padding:15px; position:fixed; bottom:5px; right:5px; color:#000; border:2px solid #ccc; cursor: pointer}


.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    /* background-color: #eee; */
}

.education {
    width: 100%;
    font-size: 17px;
    padding: 10px;
    border: 1px solid #ddd;
    display: i;
}

.education tr:nth-child(even) {
    background: #e7e7e7;}
.education tr:nth-child(2n+1) {
    background: #4b5c80;
    color: white;
    padding: 10px;
    color: white
}
.education td {
    padding: 10px;
    border-right: 1px solid;
}
.education td:last-child{
    border-right: none
}

#portfolio {
    background-color: #798eb5;
    padding: 20px 0
}
.portfolio{
    position: relative;
}
.portfolio_hover {
    position: absolute;
    height: 150px;
    width: 150px;
    background:rgba(0,0,0,0.5);
    content: "";
    top: 61px;
    left: 46px;
    z-index: 2px;
    display: block;
    border-radius: 10px;
    display: none;
}
.portfolio a:hover {
display: block;
/*top: 0;*/
transition: 0.5s;
cursor: pointer;
  -webkit-transform: scale3d(1.2, 1.2, 1);
          transform: scale3d(1.2, 1.2, 1);
           /* -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);*/
            border-radius: none;
            border:none;

}

#portfolio img {
    width: 150px;
    height: 150px;
    display: block;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid #ddd;
    padding: 5px;
}
#portfolio h3 {
    color: snow;
    padding: 10px;
    /* border-bottom: 1px dotted white; */
}
#portfolio a {
    text-align: center;
    color: white;
    margin: 0 auto;
    display: block;
    /* padding: 5px; */
    /* margin: 10px; */
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
    target
}
.project-aria{ padding: 80px 0 }
.project-aria h3, p {
    text-align: center;
    color: slateblue;
    font-weight: normal;
    font-family: georgia;
    padding: 10px 0;
}
.project-aria i {
    text-align: center;
    display: block;
    font-size: 40px;
    /* font-weight: normal; */
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px 0;
    box-sizing: border-box;
    color: green;
}
.project-aria p{}
.service-list{}
.service-list i{
    text-align: center;
    display: block;
    font-size: 40px;
    margin: 10px;
    padding: 20px 0;
    box-sizing: border-box;
    color: black;
}
.service-list h3{ color: orange }
.service-list p{ 
    text-align: justify;
    display: block;
    text-align: center;
    width: 70%;
    margin: 0 auto; }
.education_icon,.expert i {
    font-size: 130px;
    text-align: center;
    display: block;
    color: steelblue;
    padding: 10px;
}
.language-list {
    margin-top: 90px;
}
.language-list img {
    width: 60px;
    height: 60px;
    padding: 5px;
    border: 1px solid;
    border-radius: 50%;
    margin-bottom: 10px;
    display: block;
}
.nav-pills > li {
    float: none;
    
    display: inline-block;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #a5694e;
}